* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family:     'Indie Flower', cursive, sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
}

/* NAVBAR */
.navbar {
    background-color: grey;

}

.navbar ul {
    list-style-type: none;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;

}

.navbar a {
    text-decoration: none;
    color: white;
}

/* INTRO */
.intro {
    background-image: url("https://images.unsplash.com/photo-1611735341450-74d61e660ad2?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;

    height: 30rem;
}

.intro-banner {
    background-color: green;
}

/* SUMMARY */

/* TESTIMONIALS */

/* PHOTOS */

/* MEETUPS */

/* FOOTER *?